.schedule-main-1{background-color:#55ba3b;}
.schedule-main-2{background-color:#ba2525;}
.schedule-main-3{background-color:#488;}
.schedule-main-4{background-color:#FB0;}

.schedule-class-button-1{background-color:#f00;}
.schedule-class-button-2{background-color:#f50;}
.schedule-class-button-3{background-color:#e80;}
.schedule-class-button-4{background-color:#890;}
.schedule-class-button-5{background-color:#493;}
.schedule-class-button-6{background-color:#458;}
.schedule-class-button-7{background-color:#748;}
.schedule-class-button-8{background-color:#d08;}
.schedule-class-button-9{background-color:#922;}
.schedule-class-button-10{background-color:#555;}
.schedule-class-button-11{background-color:#222;}

.teacher-button-color-1{background-color:#c22;}
.teacher-button-color-2{background-color:#c73;}
.teacher-button-color-3{background-color:#782;}
.teacher-button-color-4{background-color:#283;}
.teacher-button-color-5{background-color:#287;}
.teacher-button-color-6{background-color:#458;}
.teacher-button-color-7{background-color:#846;}

.schedule-outer-table-color-1{color:#f22;}
.schedule-outer-table-color-2{color:#f80;}
.schedule-outer-table-color-3{color:#a90;}
.schedule-outer-table-color-4{color:#4a1;}
.schedule-outer-table-color-5{color:#297;}
.schedule-outer-table-color-6{color:#06d;}
.schedule-outer-table-color-7{color:#74c;}
.schedule-outer-table-color-8{color:#938;}
